/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

/* Selected Fonts:
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
*/
*{
    margin: 0px;
    padding: 0px;
}
.section{
    width: 1440px;
    margin: 0 auto;
    margin-top: 100PX;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}

.heading h1{
    color: #000;
    font-family: 'PT Serif', serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.62px;
}

.about h2{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.about p{
    width: 440px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

/* Gallery */
.team{
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 0;
}

.team img{
    width: 237px;
    height: 341px;
}

.div1{
    position: relative;
    width: 320px;
}

.title{
    transform: rotate(-270deg);
    position: absolute;
    top: 45px;  
    left: 210px; 
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.div2{
    position: relative;
    margin: 100px 0;
}
.about2 p{
    transform: rotate(-270deg);
    position: absolute;
    top: 35px;
    left: 220px;
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.name{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
}

.div3{
    position: relative;
}

.about3 p{
    transform: rotate(90deg);   
    position: absolute;
    top: 35px;
    left: 220px;
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.div4{
    position: relative;
}

.about4 p{
    transform: rotate(90deg);   
    position: absolute;
    top: 35px;
    left: 220px;
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.div5{
    position: relative;
    margin: 100px 0;
}

.about5 p{
    transform: rotate(90deg);   
    position: absolute;
    top: 35px;
    left: 220px;
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.div6{
    position: relative;
}

.about6 p{
    transform: rotate(90deg);   
    position: absolute;
    top: 35px;
    left: 220px;
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    .team{
        display: grid;    
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 0;
    }
}